In [2]:
#import requests

#import time

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
#from selenium.webdriver.support import expected_conditions as EC
#from selenium.webdriver.support.ui import WebDriverWait
from webdriver_manager.chrome import ChromeDriverManager
#from selenium.webdriver import ActionChains
import pandas as pd

import csv
import os.path
import datetime

import sys #import args
import os

In [3]:
df = pd.read_csv ('Safeway_in_Roseville_(989_Sunrise_Ave).txt')

In [14]:
df.head(6)

         Date Payment_Type     Type  Price
0  06-13-2022         CASH  Regular  $6.28
1  06-13-2022         CASH  Premium  $6.63
2  06-13-2022         CASH   Diesel  $6.88
3  06-13-2022         CARD  Regular  $6.38
4  06-13-2022         CARD  Premium  $6.73
5  06-13-2022         CARD   Diesel  $6.98

In [46]:
df1 = df[df["Payment_Type"].str.contains("CARD")]
#df1.set_index('Date', inplace=True)
df1

          Date Payment_Type     Type   Price
3   06-13-2022         CARD  Regular   $6.38
4   06-13-2022         CARD  Premium   $6.73
5   06-13-2022         CARD   Diesel   $6.98
9   06-14-2022         CARD  Regular   $6.38
10  06-14-2022         CARD  Premium   $6.83
11  06-14-2022         CARD   Diesel   $6.98
15  06-15-2022         CARD  Regular  $6.38
16  06-15-2022         CARD  Premium  $6.77
17  06-15-2022         CARD   Diesel  $6.98
21  06-16-2022         CARD  Regular   $6.28
22  06-15-2022         CARD  Premium   $6.67
23  06-15-2022         CARD   Diesel   $6.88
27  06-17-2022         CARD  Regular   $6.28
28  06-17-2022         CARD  Premium   $6.67
29  06-17-2022         CARD   Diesel   $6.88
31  06-17-2022         CARD  Regular   $6.27
35  06-19-2022         CARD  Regular   $6.27
36  06-19-2022         CARD  Premium     NaN
37  06-19-2022         CARD   Diesel     NaN

In [17]:
df1["Type"].unique()

array(['Regular', 'Premium', 'Diesel'], dtype=object)

In [54]:
Columns = ['Date']

for x in range(len(df1["Type"].unique())):
    Columns.append(df1["Type"].unique()[x])

Columns.append('Price')
Columns

['Date', 'Regular', 'Premium', 'Diesel', 'Price']

In [55]:
df1 = df[df["Payment_Type"].str.contains("CARD")]
#Get Dates
dates = df["Date"].unique()

#Create Columns Names
Columns = ['Date']

for x in range(len(df1["Type"].unique())):
    Columns.append(df1["Type"].unique()[x])

Columns.append('Price')


#Create Df
for x in range(len(dates)):
    print(dates[x])
    df2 = df1[df1["Date"].str.contains(dates[x])]

06-13-2022
06-14-2022
06-15-2022
06-16-2022
06-17-2022
06-18-2022
06-19-2022

In [59]:
date = "06-13-2022"
df2 = df1[df1["Date"].str.contains(date)]
for i in range(len(df2)):
    #df2.iloc[i]
    Type = df2.iloc[i]['Type']
    Price = df2.iloc[i]['Price']

Regular
Premium
Diesel

In [61]:
final = pd.DataFrame([], columns=Columns)

In [62]:
final

Empty DataFrame
Columns: [Date, Regular, Premium, Diesel, Price]
Index: []

In [ ]:
final.loc[len(final.index)] = ['Amy', 89, 93]